.section-how {
    margin-bottom: 15rem;
}

.columns {
    display: flex;
}

.how-grid {
    gap: 8rem;
    margin-bottom: 6.4rem;
}

.how-main-text-container {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: center;
    gap: 2rem;


}

.how-header {
    color: white;
    font-size: 3.6rem;
    font-weight: 700;
    /*margin-bottom: 2.8rem;*/
}

.how-text {
    color: var(--text-light-100);
    font-size: 2.2rem;
    line-height: 1.5;
    /*margin-bottom: 9.6rem;*/
}

.how-img-container {
    background-image: linear-gradient(to bottom, rgba(45, 212, 191, 0.25), rgba(45, 212, 191, 0.25)), url("../img/white-board-final.jpg");
    width: 90%;
    /*background-image: url("../img/white-board.jpg");*/
    background-size: cover;
    border-radius: 11px;
    /*-webkit-transform: scaleX(-1);*/
    /*transform: scaleX(-1);*/
}

.how-img {
    width: 90%;
    border-radius: 20px;
}

.how-cards {
    gap: 3rem;
}