* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 1;
}

html {
    font-size: 62.5%;
}

.container {
    max-width: 130rem;
    padding: 0 3.2rem;
    margin: 0 auto;

    /*margin-bottom: 9.6rem;*/
}


:root {
    --primary-color-400: #2DD4BF;
    --primary-color-900: #134e4a;
    --primary-color-300: #5eead4;
    --secondary-color-500: #D946EF;
    --dark-color-900: rgb(30,32,39);
    --text-light-100: #eee;
}

.grid {
    display: grid;
}

.grid-2-cols {
    grid-template-columns: 1fr 1fr;
}

.grid-3-cols {
    grid-template-columns: repeat(3, 1fr);
}

.grid-4-cols {
    grid-template-columns: repeat(4, 1fr);
}

.text-center {
    text-align: center;
}